<div class="text-center">
    <h1 class="display-4">I'm Carlos Acuña</h1>

    <h2>I'm a Backend Developer and AWS Specialist</h2>

    <img id="photo" src="~/images/Hellekin.png" alt="Hellekin" />

</div>

<div class="text-center">
    <img id="image-dotnet" src="~/images/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome-section">
        <h1>Let me introduce myself</h1>
        <p>
            Passionate about programming, I have a strong background in various programming languages, including C#,
            JavaScript, PHP, Node.js, Java,and C++. Additionally, I am well-versed in web technologies such as HTML,
            CSS, and Bootstrap, enabling me to create attractive and functional user interfaces. My expertise extends
            beyond front-end development, encompassing both relational databases like MySQL and SQL Server, and
            non-relational databases like MongoDB. This versatility has allowed me to tackle diverse and challenging
            projects, providing efficient and effective solutions. I am always on the lookout for new challenges and
            opportunities to apply my technical and creative skills. If you are seeking someone who brings experience
            and passion to the team, I would be delighted to connect with you.
        </p>
    </div>
</div>